.qor{
  animation-name: qor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes qor{
    0%{
        position: absolute;
        top: 0;
        left: 0;

    }
    20%{
        top: 240px;
        left: 100px;
    }
    40%{
        top: 480px;
        left: 0px;
    }
    60%{
        top: 720px;
        left: 100px;
    }
    80%{
        top: 960px;
        left: 0px;
    }
    100%{
        top: 1200px;
        left: 0;
    }

}
